.apple {
    background-color: #990033;
    color: #FFFFFF;
    margin: 3px;
    font-style: italic;
}

.citrus {
    background-color: #CCCC33;
    color: #FFFFFF;
    margin: 3px;
    font-style: italic;
}

.berry {
    background-color: #009933;
    color: #FFFFFF;
    margin: 3px;
    font-style: italic;
}

#packages {
     background-color: #008000;
     overflow: scroll;
}
#classes {
     background-color: #00a000;
     overflow: scroll;
}
#source {
     background-color: #00a0a0;
}

#package {
      color: #000000;
}
